<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TenderAutomationSuite" parallel="tests" thread-count="2">

    <!-- Define parameters -->
    <parameter name="browser" value="chrome"/>

    <!-- Test 1: Login Tests -->
    <test name="Login Test">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <!-- Test 2: Tender Upload Tests -->
    <test name="Tender Upload Test">
        <classes>
            <class name="tests.TenderCreationTest"/>
        </classes>
    </test>

</suite>
